*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    padding: 100px;
    background-color: rgba(94, 95, 97, 0.523);
    display: grid;
    text-align: center;
}
form input {
    background-color: rgba(94, 95, 97, 0.523);
    color: white;
}
form textarea {
    background-color: rgba(94, 95, 97, 0.523);
    color: white;
}
form button:hover {
    background-color: rgba(94, 95, 97, 0.523);
    color: white;
    transition: 0.4s;
}
form div {
    display: flex;
    gap: 5px;
}
form div input {
    width: 43.3%;
}
.email {
    padding: 20px 0px 0px 35px;
}
.email input {
    min-width: 95.8%;
}
.displaygrid {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid;
    box-shadow: 5px 1px 50px 10px green;
    margin-top: 100px;
}
.displaygrid p{
    width: 400px;
}
.displayflex {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.displayflex img {
    border-radius: 30px;
}
@media screen and (max-width: 720px) {
    form div input {
        width: 33.8%;
    }
    .email input {
        min-width: 90.7%;
    }
}
